#app {
    margin: 1em;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
}

.code {
    border: solid 1px #333;
    margin-bottom: 1em;
}

.ctrl_but {
    margin-right: 1em;
    margin-bottom: 1em;
}

button[type="submit"] {
    /* hack to hide unused submit */
    display: none;
}

.right-panel {
    position: fixed;
    right: 15px;
}

.form-group {
    margin: .5em;
    border: solid 1px #333; 
    padding: .5em;
}

.array-item-toolbox {
    padding-right: 1em;
    padding-top: .5em;
}

.array-item-add {
    border-top: soild 2px #333;
}

.field-string, .field-integer, .field-boolean {
    border: none;
    margin: .5em;
    padding: 0;
}

legend {
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .right-panel {
        position: relative;
        right: inherit;
    }
}

* {
    border-radius: 0 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

::placeholder {
    color: #ccc;
}