#app {
    margin: 1em;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
}

.code {
    border: solid 1px #333;
}

.ctrl_but {
    margin-right: 1em;
    margin-bottom: 1em;
}

button[type="submit"] {
    /* hack to hide unused submit */
    display: none;
}

.right-panel {
    position: fixed;
    right: 15px;
}

.form-group {
    margin: .5em;
    border: solid 1px #333;
    padding: .5em;
}

.array-item-toolbox {
    padding-right: 1em;
}

legend {
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .right-panel {
        position: relative;
        right: inherit;
    }
}

* {
    border-radius: 0 !important;
}
